
                body {
                    background-color: #fae1f3;
                }

                hr {             
                    border-style:none;
                    border-top-style:dotted;
                    border-color: rgb(55, 17, 90);
                    border-width: 3px;
                                                      
                }

                h1 {
                    color: rgb(122, 28, 28);
                }
                h3 {
                    color: rgb(122, 28, 28);
                }
                 h2 {
                    color: rgb(122, 28, 28);
                }
      
